html {
  scroll-behavior: smooth;
}

html body {
  font-size: 16px;
  font-family: "Noto Serif KR", serif;
  font-weight: 400;
  background-color: #000;
  color: #fff;
}

html p {
  line-height: 1.6em;
  margin: 2em;
}

html img {
  width: 100%;
}

html a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

html a:hover {
  opacity: 0.6;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.inner {
  position: relative;
  width: 65%;
  margin: 0 auto;
}

.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #2ef4f4;
}

.center {
  text-align: center;
}

.swiper-container {
  width: 100%;
  overflow: hidden;
  margin-top: 2em;
}

.swiper-container img:hover {
  opacity: 0.6;
  cursor: pointer;
}

header {
  position: fixed;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
}

header .wrapper {
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapper h1 {
  width: 92px;
}

header .wrapper nav {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

header .wrapper nav ul li {
  margin-left: 40px;
}

header .wrapper nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .wrapper nav ul li a span {
  padding-top: 8px;
  font-size: 12px;
  text-align: center;
  color: #50dcfd;
}

header .badges {
  position: absolute;
  top: 100px;
  right: 10px;
  width: 12.5rem;
}

header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  -webkit-box-shadow: 0 0 10px rgba(80, 221, 253, 0.363);
          box-shadow: 0 0 10px rgba(80, 221, 253, 0.363);
}

main .main_kv video {
  width: 100%;
  top: 0;
}

main .about {
  padding: 90px 0;
}

main .about ul {
  margin-top: 24px;
}

main .about ul li {
  position: relative;
  width: 12.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .about ul li:hover {
  cursor: pointer;
  opacity: 0.6;
}

main .about ul li img {
  -webkit-filter: drop-shadow(0px 0px 10px #50dcfd);
          filter: drop-shadow(0px 0px 10px #50dcfd);
}

main .about ul li .text {
  position: absolute;
  width: 100%;
  margin-top: -60px;
  font-weight: 400;
  text-align: center;
}

main .about ul li .text p {
  margin: auto 0;
}

main .about ul li .text time {
  line-height: 2em;
  color: #2ef4f4;
  font-size: 14px;
}

main .about .card {
  position: relative;
  -webkit-perspective: 600px;
          perspective: 600px;
  display: block;
}

main .about .card .front {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

main .about .card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: #fff;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

main .about .card .back img {
  position: absolute;
  height: 80%;
  border-radius: 5px;
}

main .movie {
  padding: 90px 0;
}

main .movie .movie_main {
  position: relative;
  border: 1px solid #2ef4f4;
}

main .live {
  padding: 90px 0;
}

main .exhibition {
  padding: 90px 0;
}

main .exhibition .exhibition_contents {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

main .exhibition .exhibition_contents .instructions {
  width: 60%;
}

main .exhibition .exhibition_contents .instructions .table {
  margin: 10px;
}

main .exhibition .exhibition_contents .instructions .table .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

main .exhibition .exhibition_contents .instructions .table .column div:nth-child(1) {
  border: 2px solid #2ef4f43a;
  border-radius: 10px 0 10px 0;
  width: 80px;
  text-align: center;
  padding: 8px 5px;
}

main .exhibition .exhibition_contents .instructions .table .column div:nth-child(2) {
  width: 80%;
  margin-left: 10px;
}

main .exhibition .exhibition_contents .instructions .table .column .details_btn {
  position: relative;
  background-color: #df5b00;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-left: 20px;
  outline: none;
  padding: 5px 5px;
  font-weight: 600;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

main .exhibition .exhibition_contents .instructions .table .column .details_btn:before,
main .exhibition .exhibition_contents .instructions .table .column .details_btn:after {
  position: absolute;
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  width: 24px;
}

main .exhibition .exhibition_contents .instructions .table .column .details_btn:before {
  border-color: #df5b00;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}

main .exhibition .exhibition_contents .instructions .table .column .details_btn:after {
  border-bottom-width: 2px;
  border-color: #df5b00;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}

main .exhibition .exhibition_contents .instructions .table .column .details_btn:hover,
main .exhibition .exhibition_contents .instructions .table .column .details_btn.hover {
  background-color: #df5b00;
}

main .exhibition .exhibition_contents .instructions .table .column .details_btn:hover:before,
main .exhibition .exhibition_contents .instructions .table .column .details_btn.hover:before,
main .exhibition .exhibition_contents .instructions .table .column .details_btn:hover:after,
main .exhibition .exhibition_contents .instructions .table .column .details_btn.hover:after {
  height: 100%;
  width: 100%;
}

main .exhibition .exhibition_contents .maps {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
}

main .exhibition ul {
  margin-top: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .exhibition ul li {
  width: calc(96% / 3);
}

main .exhibition iframe {
  margin-top: 4rem;
}

main .exhibition .note {
  margin-top: 4rem;
  width: 100%;
  border: 1px solid #2ef4f4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px;
}

main .exhibition .note h3 {
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 30px;
}

main .sales {
  padding: 90px 0;
}

main .sales .instructions {
  width: 100%;
}

main .sales .instructions .table {
  margin: 10px;
}

main .sales .instructions .table .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

main .sales .instructions .table .column div:nth-child(1) {
  border: 2px solid #2ef4f43a;
  border-radius: 10px 0 10px 0;
  width: 80px;
  text-align: center;
  padding: 8px 5px;
}

main .sales .instructions .table .column div:nth-child(2) {
  width: 80%;
  margin-left: 10px;
}

main .gallery {
  padding: 90px 0;
}

main .gallery a img {
  margin-top: 3rem;
  border: 1px solid #2ef4f4;
}

main .othersite {
  padding: 90px 0;
}

main .othersite ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .othersite ul li {
  width: 40%;
  margin: 0 20px;
}

footer {
  font-size: 0.875em;
  padding: 1em;
}

footer p {
  margin: 0px;
}
/*# sourceMappingURL=style.css.map */